body {
 
  font-family: "Baloo 2";
}

h1{
  font-size: 3em
}
h2{
  font-size: 2.6em
}
.navbar{
  background-color: #2A0944;
}

table{
  table-layout: fixed;
  border-collapse: collapse;
}
thead{
  background: #2A0944;
  color: white;
}
.hero {
  
  background: linear-gradient(to left, rgba(161,0,35,.2)20% ,  hsl(347, 100%, 12%) 96%), url(https://okcredit-blog-images-prod.storage.googleapis.com/2021/01/shutterstock_481616641.jpg) no-repeat center/ cover ;

 

  min-height: 20em;
  padding: 9% 5%;
  
}


.btn{
  background:#2A0944;
  border: 0;
}
button{
  font-size: 1rem;
  background-color: #2A0944;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;

}

.hero p{
  word-break: break-word;
  font-size: 1.8em;
  
}
p::first-letter{
  text-transform: uppercase;
}
p, div, h1, h2,h3,h4{
  margin: 0
}



.clients{
  background-color:rgba(63, 167, 150, 0.1) ;
  padding: 2%;
}




.hero + h2{
  color: #2A0944
}


.card{
 
  background-color:#F5FFFA;
  padding: 1%;
  max-width: 450px;
}




.card h4{
  font-weight: 400;
}



.card img{
  
  border-radius:8px;
  max-width:100%;
  max-height:100%;
}


.card span{
  display: inline-block;
 
}
